 
 
 
                /*////////////////////////////////////////////////////////////*/
                             /*  THEME SETUP  */
                /*////////////////////////////////////////////////////////////*/ 
body{
    background-color: #F9F8F8;
}

/* /////// Dark theme /////// */
/* [data-theme="dark"] body {
  background-color: #121212;
  color: #eee;
} */



                /*////////////////////////////////////////////////////////////*/
                             /*  HOME PAGE DESIGN  */
                /*////////////////////////////////////////////////////////////*/ 

.custom-navbar{
    background-color: white;
    border: 1px solid #363636;  
}

/* /////// SLIDER DESIGN /////// */
.toggleswitch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}
.toggleswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #d4acfb;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0px 20px rgba(0,0,0,0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggleswitch input:checked + .toggle-slider {
  background: #b84fce;
}

.toggleswitch input:focus + .toggle-slider {
  box-shadow: 0 0 1px #b84fce;
}

.toggleswitch input:checked + .toggle-slider:before {
  transform: translateX(1.6em);
  width: 2em;
  height: 2em;
  bottom: 0;
}



/* /////// BADGE IMAGE AND OVERLAY DESIGN /////// */
.hero-image {
  background-image: url("../res/home-img.png");
  /* background-size: cover;        fills screen, no stretching */
  background-position: center;   /* keeps focus centered */
  background-repeat: no-repeat;
  position: relative;
}
.overlay-text {
  color: white;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

.changing-text::after {
  content: "LANGUAGE RESOURCES";
  color: #080808;
  animation: textSwap 10s infinite;
}



/* /////// IMAGE SLIDESHOW /////// */
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  position: relative;
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1) - 10s) !important;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}



/* /////// QUOTE DESIGN /////// */
.quote{
    background-color: white;

}


/* /////// FOOTER DESIGN /////// */
.hero-foot{
  background-color: #0c0c0c;
  color: #D9D9D9;

}


                /*////////////////////////////////////////////////////////////*/
                             /*  LANGUAGE PAGE DESIGN  */
                /*////////////////////////////////////////////////////////////*/ 


.hero-imagefra{
  background-image: url("../res/french.png");
  /* background-size: cover;        fills screen, no stretching */
  background-position: center;   /* keeps focus centered */
  background-repeat: no-repeat;
  position: relative;

}
.overlay-textfra {
  color: black;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0 4px 20px rgba(0,0,0,0.6);
}
.dropdown-divider{
  color: #080808;
}



                /*////////////////////////////////////////////////////////////*/
                             /*  ANIMATTION SETUP  */
                /*////////////////////////////////////////////////////////////*/ 


/* /////// Title - Span Animation /////// */
@keyframes textSwap {
  0%, 25% {
    content: "LANGUAGE RESOURCES";
  }
  26%, 50% {
    content: "RESSOURCES LINGUISTIQUES";
  }
  51%, 75% {
    content: "RISORSE LINGUISTICHE";
  }
  76%, 100% {
    content: "IDIOMAS Y RECURSOS";
  }
}


/* /////// Slidershow Animation /////// */
@keyframes autoRun {
  from { left: 100%; }
  to { left: calc(var(--width) * -1); }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

